<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>The book '<%=@book_name%>' is now available in the library. Please login and request for it, if you still require the book.</p>
    -- AtoS Library
  </body>
</html>
