<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Please give the book '<%=@book_name%>' to <%=@requester_name%> and update status in http://atos-kol-library.herokuapp.com.</h3>
  </body>
</html>
