<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Please give the book '<%=@book_name%>' to <%=@requester_name%> and update status in http://atos-kol-library.herokuapp.com.</p>
    --AtoS Library
    atos-kol-library.herokuapp.com
  </body>
</html>
