<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> The due date of the book '<%=@book_name%>' is <%=@book_due_date%>. Please renew it at atos-kol-library.herokuapp.com, or return it to the administrator.</p>
    -- AtoS Library
  </body>
</html>
