<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>The book '<%=@book_name%>' is past its due date. Please return it immediately and pay a fine of Rs.<%=@fine_amount%> to the library administrator.</p>
    --Atos Library.
  </body>
</html>
