<div class="page-header">
  <h1>Books</h1>
</div>

<% @books.each do |book| %>
  <h5><%= book.title %></h5>
  <h6>- <%= book.author %>
  <% if book.issued_on %>
    <%= book.issued_on %>
  <%else%>
    <%= link_to 'Issue', new_book_path, class: "btn pull-right"%>
  <%end%>
  </h6>
  <br \>
<% end %>
